<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhFC</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<style>
    /* Style for smooth scrolling */
    html {
    scroll-behavior: smooth;
    }
    /* Additional styling for text */
    .header_title {
        font-family: 'DM Serif Text', serif;
        color: #BB0000;
    }

    .body_text {
        font-family: 'Poppins', serif;
        color: #640404;
    }

    .combo_text {
        font-family: 'Poppins';
        font-weight: 400;
        color: #BB0000;
    }

    .menu_title {
        font-family: 'Caveat Brush';
        font-weight: 500;
        color: #640404;
    }

    .menu_text {
        font-family: 'Montserrat';
        font-weight: 650;
        color: #640404;
    }

    .price_text {
        font-family: 'Poppins', serif;
        font-weight: 450;
        color: #640404;
        text-align: center;
    }
</style>
</head>

<body class="font-sans antialiased bg-amber-100">
    <section id="navBar" style="background-color: #E6D58E;">
        <div class="w-full">
            <div class="grid grid-cols-12 items-center w-full">
                <div class="col-span-2 flex justify-center items-center">
                    <img src="img/halal.png" alt="halal" class="img-fluid w-9 md:w-12 lg:w-24">
                </div>
                <div class="col-span-8 flex justify-center items-center">
                    <img src="img/umar_logo.png" alt="Umar Logo" class="img-fluid w-3/4 lg:w-5/6" id="reset">
                </div>
                <div class="col-span-2 flex justify-end items-center">
                    <!-- Dropdown Button -->
                    <div class="relative">
                        <button type="button" class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-sm font-medium text-gray-700 hover:bg-yellow-100 focus:outline-none" id="dropdown-menu" aria-expanded="true" aria-haspopup="true">
                            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="#640404">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                        <!-- Dropdown Menu Items -->
                        <div id="dropdown-menu-items" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 bg-yellow-50" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu" style="background-color: #E6D58E;">
                            <div class="py-1 text-center" role="none">
                                <a href="#about" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">About Us</a>
                                <a href="menu.html" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Menu</a>
                                <a href="#order" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Order</a>
                                <a href="#hours" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Hours</a>
                                <a href="#contact" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101;">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Sections -->
    <section id="about" class="py-3" style="background-color: #F1EFCC;">
        <div class="w-full mx-auto px-6">
            <h2 class="font-bold header_title text-4xl md:text-5xl lg:text-7xl text-center">About Us</h2>
            <img class="rounded-full mx-auto w-1/4 lg:w-80 h-auto" src="img/NoBGallFoods.png">
            <p class="font-semibold text-center body_text text-xl md:text-2xl lg:text-4xl px-7" style = "font-style: italic;">
            Hamilton's Premier Destination for HS Halal Hot Chicken.</p> 
            <p class="font-medium text-center body_text text-xl lg:text-2xl px-7">
            Khans Hot Fried Chicken is 100% hand slaughtered halal.<br>
            I dont know what else to write lul<br>
            </p>
        </div>
    </section>

    <section id="order" class="py-3 bg-yellow-50">
        <div class="mx-auto">
            <h2 class="font-bold header_title text-4xl md:text-5xl lg:text-7xl text-center pb-6">How To Order</h2>
            <p class="font-medium text-center lg:text-left body_text text-xl lg:text-2xl px-10 lg:px-0 lg:ml-60 lg:mr-64">
            <b>1.</b> Reach out via Whatsapp <b>(905-379-3042)</b> or Instagram <b>(@khans_fried_chicken)</b><br>
            <br>
            <b>2.</b> Please DM your order between <b>Monday - Thursday.</b><br> 
            <br>
            <b>3.</b> In your DM, please specify the menu items you would like to order, specifying if you would like <b>bone-in (dark meat)</b> or <b>tenders (white meat)</b> and if you would like to add a side and drink.<br>
            <br>
            <b>4.</b> Pick up is on Saturdays between <b>3pm-7pm.</b>    
            </p>
        </div>
    </section>

    <section id="hours" class="py-3" style="background-color: #F1EFCC;">
        <div class="w-full mx-auto px-6">
            <h2 class="font-bold header_title text-4xl md:text-5xl lg:text-7xl text-center mb-6">Hours and Location</h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 px-2 md:px-4 lg:px-2">
                <div class="grid grid-cols-2 gap-y-2">
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">SUNDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">MONDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">TUESDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">WEDNESDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">THURSDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">FRIDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
    
                    <div class="col-span-1">
                        <p class="font-bold text-center md:text-right lg:text-right body_text text-xl lg:text-2xl px-7">SATURDAY</p>
                    </div>
                    <div class="col-span-1 flex justify-center md:justify-start">
                        <p class="price_text text-lg lg:text-xl">00:00 - 00:00</p>
                    </div>
                </div>
    
                <div>
                    <p class="font-bold text-center body_text text-xl lg:text-2xl">Pick Up Location:</p>
                    <p class="font-medium text-center body_text text-xl lg:text-2xl">umars house</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-3 bg-yellow-50 relative">
        <div class="w-full mx-auto px-6">
            <h2 class="font-bold header_title text-4xl md:text-5xl lg:text-7xl text-center pb-6">Contact Us</h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-2">
                <div class=" lg:ml-48 space-y-4">
                    <div class="flex items-center">
                        <img src="img/whatsapp.png" alt="wA" class="w-9 h-9">
                        <p class="font-medium body_text lg:text-xl px-4">+1(905)-379-3042</p>
                    </div>
                    <div class="flex items-center">
                        <img src="img/instagram.png" alt="ig" class="w-9 h-9">
                        <a href="https://www.instagram.com/khans_fried_chicken?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <p class="font-medium body_text text-lg lg:text-xl px-4">@khans_fried_chicken</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <img src="img/email.png" alt="email" class="w-9 h-9">
                        <p class="font-medium body_text text-lg lg:text-xl px-4">emailaddressss</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0 right-0 mb-4 mr-4">
            <a href="#reset">
                <img src="img/khfc.png" alt="Logo" class="w-24 h-8 sm:w-24 sm:h-16 md:w-30 md:h-10 lg:w-40 lg:h-auto">
            </a>
        </div>
    </section>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the dropdown menu element
        var dropdownMenu = document.getElementById('dropdown-menu-items');
        // Get the button and dropdown menu items
        var button = document.getElementById('dropdown-menu');
        var dropdownMenuItems = document.getElementById('dropdown-menu-items');

        // Add click event listener to the button
        button.addEventListener('click', function() {
            // Toggle the visibility of the dropdown menu items
            dropdownMenuItems.classList.toggle('hidden');
            // Toggle the aria-expanded attribute
            var isExpanded = dropdownMenuItems.classList.contains('hidden') ? 'false' : 'true';
            button.setAttribute('aria-expanded', isExpanded);
        });
    });
</script>