<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhFC</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <style>

        /* Style for smooth scrolling */
        html {
        scroll-behavior: smooth;
        }
        /* Additional styling for text */
        .header_title {
            font-family: 'DM Serif Text', serif;
            color: #BB0000;
        }

        .body_text {
            font-family: 'Poppins', serif;
            color: #640404;
        }

        .combo_text {
            font-family: 'Poppins';
            color: #BB0000;
        }

        .menu_title {
            font-family: 'Caveat Brush';
            font-weight: 500;
            color: #640404;
        }

        .menu_text {
            font-family: 'Montserrat';
            font-weight: 650;
            color: #640404;
        }

        .price_text {
            font-family: 'Poppins', serif;
            font-weight: 450;
            color: #640404;
            text-align: center;
        }
        
    </style>
</head>
<body>

    <section id="menu_bar" class="py-3" style="background-color: #E6D58E;">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-3 items-center">
                <div class="items-left">
                    <a href="index.html#reset">
                        <img src="img/khfc_chicken.png" alt="Icon" class="w-15 h-20">
                    </a>
                </div>
                <div class="text-center">
                    <h2 class="font-bold header_title text-6xl md:text-7xl lg:text-8xl">Menu</h2>
                </div>
                <div class="flex justify-end">
                    <!-- Dropdown Button -->
                    <div class="relative">
                        <button type="button" class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-sm font-medium text-gray-700 hover:bg-yellow-100 focus:outline-none" id="dropdown-menu" aria-expanded="true" aria-haspopup="true">
                            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="#640404">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                        <!-- Dropdown Menu Items -->
                        <div id="dropdown-menu-items" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu" style="background-color: #E6D58E;">
                            <div class="py-1 text-center" role="none">
                                <a href="index.html#about" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">About Us</a>
                                <a href="menu.html" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Menu</a>
                                <a href="index.html#order" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Order</a>
                                <a href="index.html#hours" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101; border-bottom: 0.5px solid #00000020;">Hours</a>
                                <a href="index.html#contact" class="block px-4 py-2 text-base font-bold hover:bg-yellow-100 hover:text-gray-900" role="menuitem" style="font-family: 'DM Serif Text'; font-size: large; color: #840101;">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="burgers" class="py-3 bg-yellow-50">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2">
        <div class="menu-content px-2">
            <p class="menu_title text-5xl text-center md:text-5xl lg:text-7xl lg:text-left">BURGERS</p>
            <p class="combo_text text-md text-center md:text-xl lg:text-xl lg:text-left" style="font-weight: 600;">Add a side and drink for +$3.99</p>

            <div class="menu_item mt-10">
                <span class="menu_text text-lg lg:text-xl">SINGLE PATTY SMASHBURGER</span>
                <span class="price_text ml-6 text-lg lg:text-xl">$6.99</span>
            </div>
            <p class="body_text mt-2 text-base lg:text-lg">Crispy beef smashed patty, American cheddar, lettuce, onions, secret sauce</p>

            <div class="menu_item mt-4">
                <span class="menu_text text-lg lg:text-xl">DOUBLE PATTY SMASHBURGER</span>
                <span class="price_text ml-3 text-lg lg:text-xl">$8.99</span>
            </div>
            <p class="body_text mt-2 text-base lg:text-lg">x2 Crispy beef smashed patty, American cheddar, lettuce, onions, secret sauce</p>

            <div class="menu_item mt-4">
                <span class="menu_text text-lg lg:text-xl">TRIPLE PATTY SMASHBURGER</span>
                <span class="price_text ml-6 text-lg lg:text-xl">$10.99</span>
            </div>
            <p class="body_text mt-2 text-base lg:text-lg">x3 Crispy beef smashed patty, American cheddar, lettuce, onions, secret sauce</p>

            <div class="menu_item mt-4">
                <span class="menu_text text-lg lg:text-xl">HOT CHICKEN SANDWICH</span>
                <span class="price_text ml-16 text-lg lg:text-xl">$7.99</span>
            </div>
            <p class="body_text mt-2 text-base lg:text-lg">Chicken breast filet, Umars secret hot sauce, crunchy coleslaw, pickles</p>
        </div>

        <div class="image-container flex justify-center lg:justify-center">
            <img src="img/smash and chicken.png" class=" rounded-lg w-1/2 md:w-1/2 lg:w-3/4 h-auto">
        </div>
    </div>
</section>

<section id="HotChicken" class="py-3" style="background-color: #F1EFCC;">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <div class="col-span-1 text-center lg:text-left">
            <p class="menu_title text-5xl md:text-5xl lg:text-7xl lg:text-left">HOT CHICKEN</p>
            <p class="combo_text text-md pb-6 text-center md:text-xl lg:text-2xl lg:text-left lg:pl-20" style="font-family: Caveat Brush; font-weight: 400;">BONE IN OR TENDERS</p>
        
            <div class="menu_item flex justify-center lg:justify-start">
                <div class="filter drop-shadow-2xl flex flex-col justify-center border-double border-4 sm:w-2/3 lg:w-full lg:ml-8 lg:mt-6" style="max-width: 300px; min-height: 200px; border-color: #f7e5c3; background-color: #b9572d;">
                    <p class="menu_text text-center text-md md:text-xl lg:text-2xl" style="color: #fdc968;">FLAVOURS:</p>
        
                    <div class="grid grid-cols-5 gap-2 px-2 md:px-4 lg:px-2">
                        <div class="col-span-4">
                            <p class="body_text font-bold text-sm md:text-md lg:text-xl" style="color: #F1EFCC;">SOY HONEY GARLIC</p>
                        </div>
                        <div class="flex items-center justify-center">
                            <img src="img/mild.png" alt="Icon" class="w-7 h-7">
                        </div>
                        <div class="col-span-4">
                            <p class="body_text font-bold text-sm md:text-md lg:text-xl" style="color: #F1EFCC;">UMAR STYLE (DRY)</p>
                        </div>
                        <div class="flex items-center justify-center">
                            <img src="img/mild.png" alt="Icon" class="w-7 h-7">
                        </div>
                        <div class="col-span-4">
                            <p class="body_text font-bold text-sm md:text-md lg:text-xl" style="color: #F1EFCC;">BUFFALO</p>
                        </div>
                        <div class="flex items-center justify-center">
                            <img src="img/medium.png" alt="Icon" class="w-7 h-7">
                        </div>
                        <div class="col-span-4">
                            <p class="body_text font-bold text-sm md:text-md lg:text-xl" style="color: #F1EFCC;">HOT HONEY CHIPTOLE</p>
                        </div>
                        <div class="flex items-center justify-center">
                            <img src="img/spicy.png" alt="Icon" class="w-8 h-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-1 menu-content mt-24">
            <div class="menu_item text-center mt-0 sm:-mt-10 lg:-mt-6 pb-4">
                <p class="menu_text text-lg lg:text-xl" style="color: #BB0000;">ADD A DRINK AND A SIDE FOR +$3.99</p>
            </div>
            
            <div class="menu_item text-center pr-7 pb-2">
                <span class="menu_text text-lg lg:text-2xl">2 PIECES</span>
                <span class="price_text ml-6 text-lg lg:text-2xl">$7.99</span>
            </div>

            <div class="menu_item text-center pr-5 pb-2">
                <span class="menu_text text-lg lg:text-2xl">3 PIECES</span>
                <span class="price_text ml-6 text-lg lg:text-2xl">$10.99</span>
            </div>

            <div class="menu_item text-center pr-5 pb-2">
                <span class="menu_text text-lg lg:text-2xl">4 PIECES</span>
                <span class="price_text ml-6 text-lg lg:text-2xl">$13.99</span>
            </div>

            <div class="menu_item text-center mt-6 pb-4">
                <p class="menu_text text-lg lg:text-xl" style="color: #BB0000;">ADD A LARGE SIDE AND DRINK FOR +$5.99</p>
            </div>
            
            <div class="menu_item text-center pr-7 pb-2">
                <span class="menu_text text-lg lg:text-2xl">8 PIECES</span>
                <span class="price_text ml-6 text-lg lg:text-2xl">$27.99</span>
            </div>

            <div class="menu_item text-center pr-5 pb-2">
                <span class="menu_text pr-6 text-lg lg:text-2xl">12 PIECES</span>
                <span class="price_text pr-3 text-lg lg:text-2xl">$38.99</span>
            </div>
        </div>

        <div class="col-span-1 image-container flex justify-center lg:justify-center lg:pl-24">
            <img src ="img/chickenss.png" class="w-1/2 mt-10 md:w-3/4 md:ml-32 md:-mt-20 lg:w-full lg:mt-20 lg:mr-10 h-auto">
        </div>
    </div>
</section>

<section id="SidesnDrinks" class="py-3 bg-yellow-50">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3">
        <div class="Sides">
            <p class="menu_title text-5xl text-center md:text-5xl lg:text-7xl lg:text-left">SIDES</p>

            <div class="grid grid-cols-5 gap-2 px-2 md:px-4 lg:px-2">

                <div class="col-span-2">
                </div>
                <div class="col-span-1 flex items-center justify-center border-b-2 border-red-600">
                    <p class = "body_text text-lg lg:text-xl">S</p>
                </div>
                <div class="col-span-1 flex items-center justify-center border-b-2 border-red-600">
                    <p class = "body_text text-lg lg:text-xl">M</p>
                </div>
                <div class="col-span-1 flex items-center justify-center border-b-2 border-red-600">
                    <p class = "body_text text-lg lg:text-xl">L</p>
                </div>
    
                <div class="col-span-2">
                    <p class="menu_text text-lg lg:text-xl">SEASONED FRIES</span>
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$3.99
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">-
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$5.99
                </div>

                <div class="col-span-2">
                    <p class="menu_text text-lg lg:text-xl">MAC N CHEESE</span>
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$3.99
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$4.99
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">-
                </div>

                <div class="col-span-2">
                    <p class="menu_text text-lg lg:text-xl">COLESLAW</span>
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$2.99
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$3.99
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">-
                </div>
                
                <div class="col-span-2">
                    <p class="menu_text text-lg lg:text-xl">HOT CHICKEN POUTINE</span>
                </div>
                <div class ="col-span-1 flex items-center justify-center">
                    <p class="price_text text-lg lg:text-xl">$10.99
                </div>
            </div>
        </div>

        <div class="Drinks">
            <p class="menu_title pb-8 pt-10 lg:pt-0 text-5xl text-center md:text-5xl lg:text-7xl">DRINKS</p>
            <div class="grid grid-cols-2 gap-y-2 px-2 md:px-4 lg:px-2">
                <div class="col-span-1">
                    <p class="menu_text text-lg lg:text-xl lg:text-right">MILKSHAKES</span>
                </div>
                <div class ="col-span-1">
                    <p class="price_text text-lg lg:text-xl lg:text-right">$4.99
                </div>

                <div class="col-span-1">
                    <p class="menu_text text-lg lg:text-xl lg:text-right">SODA</span>
                </div>
                <div class ="col-span-1">
                    <p class="price_text text-lg lg:text-xl lg:text-center">$1.99
                </div>
            </div>
        </div>

        <div class="flex justify-center lg:justify-right">
            <img src="img/Foods.png" class=" rounded-sm w-1/2 md:w-1/2 lg:w-full lg:mt-10 h-auto">
        </div>

    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the dropdown menu element
        var dropdownMenu = document.getElementById('dropdown-menu-items');
        // Get the button and dropdown menu items
        var button = document.getElementById('dropdown-menu');
        var dropdownMenuItems = document.getElementById('dropdown-menu-items');

        // Add click event listener to the button
        button.addEventListener('click', function() {
            // Toggle the visibility of the dropdown menu items
            dropdownMenuItems.classList.toggle('hidden');
            // Toggle the aria-expanded attribute
            var isExpanded = dropdownMenuItems.classList.contains('hidden') ? 'false' : 'true';
            button.setAttribute('aria-expanded', isExpanded);
        });
    });
</script>
</body>
</html>